


{% extends "base.html" %}
{% block content %}
    






        
    <div id="content" style="max-width: 900px;margin: 10px auto" class="w3-row-padding  ">

        <div class="w3-third  w3-margin-top">


            <div class="w3-container w3-large sub-content w3-padding w3-round-large
       w3-card-4">
                <ul class="w3-ul padd">
                    <li>
                        <span style="margin-right: 5px">
                            <i class="w3-text-pink
                   fa fa-search">

                            </i>
                        </span> Search :
                        <b>{{songName}}</b>
                    </li>

                    <li>
                        <span style="margin-right: 5px" class="margin">
                            <i class="w3-text-pink
                        fa fa-list">

                            </i>
                        </span> Results :
                        <b>{{songsNumber}}</b>
                    </li>


                </ul>
            </div>
        </div>

        <div class="w3-twothird 
    w3-margin-top">
            <div class="w3-card-4 sub-content w3-round-xlarge
       w3-container w3-large
        w3-center">

                {% if songs %}
                <table class="w3-table" >
                    <tr class="first">
                        <th><i style="margin-right: 7px"
                            class="fa fa-asterisk margin
                            ">

                        </i>Band</th>
                        <th><i style="margin-right: 7px"
                            class="fa fa-headphones margin
                            ">

                        </i>Song</th>
                    </tr>

                    {% for song in songs %}
                    <tr class="w3-border-bottom">
                        <td>{{song.singer}}</td>
                        <td><a href="{{ url_for('get_song_from_link',link=song.link ) }}">
                                {{song.song_name}}
                        </a>
                            </td>
                    </tr>
                    {% endfor %}
                {% else %}
                <h1 class="w3-text-pink">
                    No Results
                </h1>
                {% endif %}


            </div>
        </div>
    </div>


{% endblock %}
