{% extends 'base.html' %}

{% block content %}


    <div id="content" style="max-width: 900px;margin: 10px auto" class="w3-row-padding  ">

        <div class="w3-third  w3-margin-top">


            <div class="w3-container w3-large sub-content w3-round-large
       w3-card-4">
                <ul class="w3-ul">

                    <li>
                        <span style="margin-right: 5px" class="margin">
                            <i class="w3-text-pink
                        fa fa-headphones">

                            </i>
                        </span> Song :
                        <b>{{ Song }}</b>
                    </li>


                </ul>
            </div>

        </div>

        <div class="w3-twothird w3-margin-bottom
    w3-margin-top">
            <div class="w3-card-4 sub-content w3-round-xlarge
       w3-container w3-large
        w3-center">
                <p>
                    {% for line in lyrics.split('\n') %}
                        <br/>{{ line }}
                    {% endfor %}


                </p>

            </div>
        </div>
    </div>

{% endblock %}